{% assign prev_link = {{ page.prev }} %}
{% if prev_link == nil %}
    {% assign prev_link = {{ site.baseurl }} | append: '/archive' %}
{% endif %}

{% assign next_link = {{ page.next }} %}
{% if next_link == nil %}
    {% assign next_link = {{ site.baseurl }} | append: '/archive' %}
{% endif %}

<div class="comic-strip">

    <div class="chapter-nav">
        <a href="{{ prev_link }}" class="prev"></a>
        <a href="{{ next_link }}" class="next"></a>
    </div>
    
    {% for image in site.static_files %}
    {% if image.path contains include.chapter_folder %}
        <img
        src="{{ site.baseurl }}{{ image.path }}"
        alt="{{ image.id }}"
        >
    {% endif %}
    {% endfor %}


    <div class="chapter-nav">
        <a href="{{ prev_link }}" class="prev"></a>
        <a href="{{ next_link }}" class="next"></a>
    </div>
    
</div>

