{% assign prev_link = "{{ page.prev }}" %}
{% if prev_link == nil %}
    {% assign prev_link = "{{ site.baseurl }}/archive" %}
{% endif %}

{% assign next_link = "{{ page.next }}" %}
{% if next_link == nil %}
    {% assign next_link = "{{ site.baseurl }}/archive" %}
{% endif %}

<div class="comic-strip">

    <div class="chapter-nav">
        <button class="prev" href="{{ prev_link }}"></button> 
        <button class="next" href="{{ next_link }}"></button>
    </div>
    
    {% for image in site.static_files %}
    {% if image.path contains include.chapter_folder %}
        <img
        src="{{ site.baseurl }}{{ image.path }}"
        alt="{{ image.id }}"
        >
    {% endif %}
    {% endfor %}


    <div class="chapter-nav">
        <button class="prev" href="{{ prev_link }}"></button>
        <button class="next" href="{{ next_link }}"></button>
    </div>
    
</div>

