<div class="comic-strip">

    <div class="chapter-nav">
        <button class="prev"></button>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chapters
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for chapter in site.archive %}
                <li><a href="{{ site.baseurl }}{{ chapter.url }}" class="chapter-btn">{{ chapter.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        <button class="next"></button>
    </div>
    
    {% for image in site.static_files %}
    {% if image.path contains include.chapter_folder %}
        <img
        src="{{ site.baseurl }}{{ image.path }}"
        alt="{{ image.id }}"
        >
    {% endif %}
    {% endfor %}


    <div class="chapter-nav">
        <button class="prev"></button>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chapters
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
            {% for chapter in site.archive %}
                <li><a href="{{ site.baseurl }}{{ chapter.url }}" class="chapter-btn">{{ chapter.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        <button class="next"></button>
    </div>
    
</div>

