// Full page animations
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
 } 

@keyframes unfoldIn {
    0% {
        transform:scaleY(.005) scaleX(0);
    }
    50% {
        transform:scaleY(.005) scaleX(1);
    }
    100% {
        transform:scaleY(1) scaleX(1);
    }
}

@keyframes unfoldOut {
    0% {
        transform:scaleY(1) scaleX(1);
    }
    50% {
        transform:scaleY(.005) scaleX(1);
    }
    100% {
        transform:scaleY(.005) scaleX(0);
    }
}

@keyframes zoomIn {
    0% {
        transform:scale(0);
    }
    100% {
        transform:scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(0);
    }
}


// Single animation
@keyframes glow-text {
    from {
      text-shadow: calc(5px + 0.5vw) calc(5px + 0.5vw) $theme-purple, 0 0 calc(1px + 0.5vw) $theme-yellow;
    }
    to {
      text-shadow: calc(5px + 0.5vw) calc(5px + 0.5vw) $theme-purple, 0 0 calc(3px + 1.5vw) $theme-yellow;
    }
  }
  

@keyframes glow-image {
    from {
        filter: drop-shadow(0px 0px 2px $theme-yellow);
    }
    to {
        filter: drop-shadow(0px 0px 6px $theme-yellow);
    }
}

@keyframes noise-anim{
    $steps:10;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}

  
@keyframes noise-anim-2{
    $steps:10;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
        clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}