@import "animations";
@import "variables";


/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.simple-list {
    ul {
        padding: 0; 
        list-style-type: none;

        li {
            padding: 1vh 0;
            display:block;
            width: fit-content;

            a {
                font-size: calc(10px + 1vw);
                color: $off-white;
            }
            
            a:hover {
                color: $horizon;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.glitch{
    color:$off-white;
    font-size: calc(12px + 3vw);
    position:relative;
    margin:0 auto;
    // left: 25%;
    
    
    // &:hover {
        &:before{
            content:attr(data-text);
            position:absolute;
            left:-0.1vw;
            text-shadow:0.2vw 0 $glitch; 
            top:0;
            color:$horizon-second;
            background:$bg-color;
            overflow:hidden;
            clip:rect(0,0.1vw,0,0); 
            animation:noise-anim-2 3s infinite linear alternate-reverse;
        }
        
        &:after{
            content:attr(data-text);
            position:absolute;
            left:0.1vw;
            text-shadow:-0.2vw 0 $glitch-secondary;
            top:0;
            color:$horizon-second;
            background:$bg-color;
            overflow:hidden;
            clip:rect(0,0.1vw,0,0); 
            animation:noise-anim 3s infinite linear alternate-reverse;
        }

        // cursor: pointer;
    // }
}
  


  