// Body
$bg-color: #000033   !default;

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #303E7A   !default;
$header-bg-color-secondary: #000033 !default;

// Chapter
$chapter-color: #2e3892 !default;
$chapter-color-secondary: #969ee9 !default;

// Text
$section-headings-color: #680049 !default;
$body-text-color: #606c71 !default;
$body-link-color: #CA0189 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
