// Body
$bg-color: #0c0c0c   !default;
$theme-pink: #c00983 !default;
$theme-purple: #3229a8 !default;
$theme-yellow: #f3e872 !default;


// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #0c0c0c   !default;
$header-bg-color-secondary: #0c0c0c !default;

// Chapter
$chapter-color: #2e3892 !default;
$chapter-color-secondary: #969ee9 !default;

// Text
$section-headings-color: #ffe2e2 !default;
$body-text-color: #ffffff !default;
$body-link-color: #ffffff !default;
$blockquote-text-color: #ffffff !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
